{% extends 'TriebawerkeSkilleratorBundle::layout.html.twig' %}

{% block title %}Skillerator{% endblock %}

{% block content %}
<h1>Level</h1>

<ul>
    <li><a href="{{ path('_level_new') }}">Create a new level</a></li>
</ul>

<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td><a href="{{ path('_level_show', { 'id': entity.id }) }}">show</a></td>
            <td><a href="{{ path('_level_edit', { 'id': entity.id }) }}">edit</a></td>      
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
