{% extends "TriebawerkeSkilleratorBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content %}
<h1>User list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Lastname</th>
            <th>Company</th>
            <th>Actions</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{ entity.username }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.company.name }}</td>
            <td><a href="{{ path('user_show') }}">show</a></td>
            <td><a href="{{ path('user_edit') }}">edit</a></td>
        </tr>

    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('user_edit') }}">
            Edit your data
        </a>
    </li>
</ul>
{% endblock %}