{% extends "TriebawerkeSkilleratorBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content %}
    <h1>Skills</h1>
    <ul id="demo-list">
        <li><a href="{{ path('_skills_new') }}">new Skill</a></li>
    </ul>



<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td><a href="{{ path('_skills_show', { 'id': entity.id }) }}">show</a></td>
            <td><a href="{{ path('_skills_edit', { 'id': entity.id }) }}">edit</a></td>       
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
