{% extends 'TriebawerkeSkilleratorBundle::layout.html.twig' %}

{% block title %}Skillerator{% endblock %}

{% block content %}
<h1>My skills</h1>
<ul>
    <li><a href="{{ path('userskills_new') }}">Add a skill</a></li>
</ul>
<table class="records_list">
    <thead>
        <tr>           
            <th>Name</th>
            <th>Level</th>
            <th>Level goal</th>
            <th>Certificate</th>            
            <th>Actions</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>  
            <td>{{ entity.skills.name}}</td>
            <td class="level{{entity.levels.id}}">{{ entity.levels.name}}</td>
            <td class="level{{entity.goal.levels.id}}">{% if entity.goal.levels.name is defined %} {{ entity.goal.levels.name }} {% endif %}</td>
            <td>{{ entity.certificates.name}}</td>
            <td><a href="{{ path('userskills_show', { 'id': entity.id }) }}">show</a></td>
            <td><a href="{{ path('userskills_edit', { 'id': entity.id }) }}">edit</a></td>       
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
