{% extends 'TriebawerkeSkilleratorBundle::layout.html.twig' %}

{% block title %}Skillerator{% endblock %}

{% block content %}
<h1>My skills</h1>
<ul>
    <li><a href="{{ path('userskills_new') }}">Add a skill</a></li>
</ul>
<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>            
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.skills.id }}</td>
            <td>{{ entity.skills.name}}</td>
            <td>{{ entity.skills.description}}</td>
            <td><a href="{{ path('userskills_show', { 'id': entity.id }) }}">show</a></td>
            <td><a href="{{ path('userskills_edit', { 'id': entity.id }) }}">edit</a></td>       
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
