{% extends 'TriebawerkeSkilleratorBundle::layout.html.twig' %}

{% block title %}Skillerator{% endblock %}

{% block content %}
<h1>UserSkills</h1>

<table class="record_properties">

    <tbody>
        <tr><th>Skill</th><td>{{ entity.skills.name }}</td><td></td>        
        <tr><th>Description</th><td>{{ entity.skills.description }}</td><td></td>

        <tr><th></th><th>Current</th><th>Goal</th>
        
        <tr>
            <th>Certificate</th>
            <td>{{ entity.certificates.name }}</td>
            <td>{% if entity.goal.certificates.name is defined %} {{entity.goal.certificates.name}} {% endif %}</td>
        </tr>
        <tr>
            <th>Level</th>
            <td class="level{{entity.levels.id}}">{{ entity.levels.name }}</td>
            <td class="level{{entity.goal.levels.id}}">{% if entity.goals.levels.name is defined %} {{ entity.goal.levels.name }} {% endif %}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('userskills') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('userskills_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('userskills_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{%if entity.goalid is empty%}
You don't have goals yet. 
<a href="{{ path('goal_new', { 'userSkillId': entity.id }) }}">Define one</a>
{% endif %}

{%if entity.goalid is not empty%} 
<a href="{{ path('goal_edit', { 'id': entity.goalid }) }}">Edit your goal</a>
{% endif %}

{% endblock %}