<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/triebawerkeskillerator/css/demo.css') }}" type="text/css" media="all" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
              <div id="logo">
                <a href="{{ path('_welcome') }}">
                    <img src="{{ asset('bundles/triebawerkeskillerator/images/juggler.png') }}" alt="Symfony">
                </a>
              </div>

            {% if app.session.flash('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ app.session.flash('notice') }}
                </div>
            {% endif %}

            {% block register %}
              <div id="register">
                {% if is_granted("ROLE_USER") %}
                    Hi {{ app.user.username }}
                    <a href="{{ path('logout') }}">logout</a>
                {% elseif is_granted("IS_AUTHENTICATED_ANONYMOUSLY") %}
                  <form action="{{ path('login_check') }}" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" />
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" />
                    <button type="submit">login</button>
                  </form>

                  <a href="{{path('registration_register')}}">register</a>
                {% endif %}
              </div>
            {% endblock %}

            {% block content_header %}
               <ul id="menu">
                    {% block content_header_more %}
                        <li><a class="symfony-button-green" href="{{ path('_welcome') }}">Home</a></li>
                        <li><a class="symfony-button-green" href="{{ path('_home_contact') }}">Impress</a></li>
                        <li><a class="symfony-button-green" href="{{ path('userskills') }}">My skills</a></li>
                        <li><a class="symfony-button-green" href="{{ path('user') }}">My Account</a></li>
                        
                        
                        {% if is_granted("ROLE_ADMIN") %}
                          <li><a class="symfony-button-skills" href="{{ path('_skills') }}">Skills</a></li>
                          <li><a class="symfony-button-skills" href="{{ path('_level') }}">Level</a></li>                        
                          <li><a class="symfony-button-skills" href="{{ path('certificate') }}">Certificate</a></li>
                          <li><a class="symfony-button-team" href="{{ path('company') }}">Company</a></li>
                          <li><a class="symfony-button-team" href="{{ path('team') }}">Team</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
</div>
 

                <div style="clear: both"></div>
            {% endblock %}

            <div class="symfony-content">
                {% block content %}
                {% endblock %}
            </div>

            {% if code is defined %}
                <h2>Code behind this page</h2>
                <div class="symfony-content">{{ code|raw }}</div>
            {% endif %}
        </div>
    </body>
</html>
